/*li {
  display: inline;
}*/
img {
  float: right;
  width: 200px;
  height: auto;
  padding-top: -15px;
  margin-top: -35px;
}
.lImage{
  float: left;
  width: 200px;
  height: auto;
  padding-top: -15px;
  margin-top: -35px;
}
h2 {
  text-align: center;
}
